{{- /* Netscape Bookmark File Format */ -}}
<!DOCTYPE NETSCAPE-Bookmark-file-1>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
{{- $bookmarksTitle := site.Params.bookmarks.title | default (printf "%s-Bookmarks" site.Title) | default "Noise导航-Bookmarks" -}}
<TITLE>{{ $bookmarksTitle | htmlEscape }}</TITLE>
<H1>{{ $bookmarksTitle | htmlEscape }}</H1>
<DL><p>
{{- $nowTs := div now.Unix 1 -}}
{{- range .Site.Data -}}
  {{- if reflect.IsSlice . -}}
    {{- range . -}}
      {{- if and (isset . "taxonomy") (or (isset . "links") (isset . "list")) -}}
        {{- $taxonomyTitle := .taxonomy -}}
        {{- $topLinks := default (slice) .links -}}
        {{- $termList := default (slice) .list -}}
        {{- $hasLinks := or (gt (len $topLinks) 0) (gt (len $termList) 0) -}}
        {{- if and $taxonomyTitle $hasLinks -}}
    <DT><H3 ADD_DATE="{{ $nowTs }}">{{ $taxonomyTitle | htmlEscape }}</H3>
    <DL><p>
          {{- range $topLinks -}}
            {{- if .url -}}
    <DT><A HREF="{{ .url | htmlEscape }}"{{ if .logo }} ICON_URI="{{ .logo | htmlEscape }}"{{ end }}>{{ .title | htmlEscape }}</A>{{ if .description }}
    <DD>{{ .description | htmlEscape }}</DD>{{ end }}
            {{- end -}}
          {{- end -}}
          {{- range $termList -}}
            {{- $termTitle := .term -}}
            {{- $validLinks := where (default (slice) .links) "url" "!=" nil -}}
            {{- if and $termTitle (gt (len $validLinks) 0) -}}
        <DT><H3 ADD_DATE="{{ $nowTs }}">{{ $termTitle | htmlEscape }}</H3>
        <DL><p>
              {{- range $validLinks -}}
        <DT><A HREF="{{ .url | htmlEscape }}"{{ if .logo }} ICON_URI="{{ .logo | htmlEscape }}"{{ end }}>{{ .title | htmlEscape }}</A>{{ if .description }}
        <DD>{{ .description | htmlEscape }}</DD>{{ end }}
              {{- end -}}
        </DL><p>
            {{- end -}}
          {{- end -}}
    </DL><p>
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
</DL><p>
