/*调整全局字体大小*/
body,html{font-size:14px;}
/* 隐藏滚动条但保留滚动功能 */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    scrollbar-width: none; /* 隐藏滚动条 - Firefox */
    -ms-overflow-style: none; /* 隐藏滚动条 - IE和Edge */
    -ms-overflow-style: -ms-autohiding-scrollbar; /* 自动隐藏滚动条，但仍可使用 */
}
.element {
    will-change: transform;
    transform: translate3d(0, 0, 0); /* 强制 GPU 渲染 */
  }
  
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.item {
    flex: 1 1 200px; /* 每个项目至少200px宽，但会随着容器大小伸缩 */
}
img, video {
    max-width: 100%;
    height: auto;
}
:-webkit-scrollbar-thumb {
    background-color: rgba(45, 43, 43, 0.707); /* 设置滚动条拇指（可拖动部分）的背景颜色为灰色 */
    border-radius: 6px; /* 圆角样式 */
  }
/* WebKit 浏览器（如 Chrome 和 Safari） */
::-webkit-scrollbar {
    display: none;
}

/*左导航悬浮sidebar-menu-inner宽度调整为90px*/
.sidebar-popup.sidebar-menu-inner > div > ul > li.sidebar-item>ul{position:absolute;top:0px;left:10px;width:90px;z-index:99}
.sidebar-popup.sidebar-menu-inner ul{width:90px}
.sidebar-popup.sidebar-menu-inner ul li{width:90px}

/*隐藏左导航scrollbar*/
.sidebar-menu.flex-fill::-webkit-scrollbar{display:none}



/*顶部导航栏字体+图标颜色*/
.big-header-banner .page-header{color:#ffffff;background:rgba(255,255,255,0);box-shadow:none;transition:color .3s,background-color .3s}
.big-header-banner:not(.header-bg) .page-header .navbar-nav>li>a,.big-header-banner:not(.header-bg) .navbar-menu a:not(.dropdown-item){color:#ffffff;}
.big-header-banner:not(.header-bg) .page-header .navbar-nav>li>a:hover,.big-header-banner:not(.header-bg) .navbar-menu a:not(.dropdown-item):hover{color:#dc3545;}
.big-header-banner:not(.header-bg) .header-mini-btn path{stroke:#ffffff;}
.big-header-banner:not(.header-bg) .header-mini-btn label:hover path{stroke:#ffffff;}



/*左导航二级导航标题左侧距离*/
.sidebar-menu-inner ul li ul li a{margin-left:10px;}

/*头部导航二级导航iconfont图标*/
.navbar-collapse ul li.menu-item-has-children:after{content:'\e612';}

/*头部部分背景样式*/
.header-big.css-color {
    background-size: cover; /* 或使用 '100% auto' 来保持宽度铺满 */
    background-position: center; /* 使背景图居中 */
    width: 100%; /* 横向铺满 */
    height: auto; /* 设置固定高度，您可以根据需要调整 */
    animation: unset; /* 保留原有设置 */
}


footer.main-footer .footer-text {
    text-align: center;
}
footer.main-footer .footer-text a {
    color: #007bff;
}
footer.main-footer .footer-text a:hover {
    color: red;
}



/*网格背景*/
.io-grey-mode .page-container .grid-bg {
  background-image: linear-gradient(rgba(245, 238, 238, 0) 1px, transparent 0), linear-gradient(90deg, rgba(50, 0, 0, 0) 1px, transparent 0); 
  background-size: 15px 15px;
  background-color: #1c1c1c;
}

/*导航 Logo 图标裁剪边角*/
.url-card .url-img > img {
    border-radius: 20%;
}















