name: hugo

# 触发条件：在 main 分支上有 push 操作时触发
on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-20.04
    steps:
      # 步骤 1：检出代码
      - name: Check out source
        uses: actions/checkout@v3

      # 步骤 2：设置 Hugo
      - name: Setup hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "latest"  # 使用最新的 Hugo 版本
          extended: true          # 使用 Hugo 的扩展版本

      # 步骤 3：构建 Hugo 站点
      - name: Build
        run: hugo

      # 步骤 4：部署到 GitHub Pages
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.github_token }}  # 使用 GitHub 自动生成的令牌
          external_repository: rcy1314/noisedh        # 目标仓库（修改为你的 GitHub Pages 仓库）
          publish_dir: ./docs                         # 发布目录（Hugo 构建的静态文件输出到 docs 目录）
          publish_branch: master                      # 发布分支（GitHub Pages 将从 master 分支提供静态文件）
          # cname: www.n1.noisedh.cn                 # 注释掉自定义域名，不使用自定义域名
